{% extends "layout.html" %}
{% block body %}
<div>
    <input type="checkbox" id="auto" checked onclick="autorefresh()">自动刷新
    <input type="checkbox" id="sync" checked onclick="autorefresh()">同步到其他手机
</div>
<div class="row" style="min-height: 500px">
    {% for serialno, ip in phones.items() %}
        <div class="col-md-3">
            <a href="/phone/{{serialno}}">
                <strong>{{serialno}}</strong>
            </a>
            <img class="screen img-responsive" ondragstart='return false'
                src="http://{{ip}}:21000/screen.jpg" serialno="{{serialno}}"/>
        </div>
    {% endfor %}
</div>
<script src="/static/js/screenshot.js"></script>
<script src="/static/js/index.js"></script>
<script>
function autorefresh()
{
    if (document.getElementById('auto').checked==true)
        refreshAll();
}
</script>
{% endblock %}
